*.tlog
*.obj
*.exe
*.ilk
*.lib
*.idb
*.pdb
*.manifest
*.res
*.lastbuildstate
*.log
*.rc
*.cache
*.ipch
*.db
*.sdf
*.suo
*3rdParty/
*bin/lib/
WwiseProject
mvuab/bin/lib/cal3d_d.dll
mvuab/bin/lib/cal3d_d.exp
mvuab/UABEngine.opensdf
