*.tlog
*.obj
*.exe
*.ilk
*.lib
*.idb
*.pdb
*.manifest
*.res
*.lastbuildstate
*.log
*.cache
*.ipch
*.db
*.sdf
*.suo
*.exp
*.opensdf
mvuab/3rdParty/
mvuab/bin/lib/*.*
mvuab/bin/lib/*.*
mvuab/bin/Viewer/*.dll
mvuab/bin/Videogame/*.dll
WwiseProject
